.write-page {
  display: flex;
}

.write-wrapper, .preview-wrapper {
  flex: 1 1 0;
  /* height: 100vh; */
}

.write-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.title-input input {
  padding: 0px;
  font-size: 2.75rem;
  line-height: 1.5;
  outline: none;
  border: none;
  font-weight: bold;
  color: var(--text1);
}

.input-wrapper input {
  /* width: 100%; */
  border: none;
}

.style-btn-wrapper {
  display: flex;
  align-items: center;
}

.style-btn-wrapper button {
  width: 3rem;
  height: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1.75rem;
  color: var(--text3);
  cursor: pointer;
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  padding: 0px;
  font-size: 1rem;
  font-weight: bold;
  font-family: serif;
}

.style-btn-wrapper span {
  font-size: 0.75rem;
}

.content-area {
  border: none;
}

.division {
  width: 1px;
  height: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: var(--border3);
}

.preview-wrapper {
  background-color: var(--bg-element8);
}

.tag-wrapper {
  color: var(--text1);
  font-size: 1.125rem;
  display: flex;
  flex-wrap: wrap;
}

.tag-wrapper input {
  background: transparent;
  display: inline-flex;
  outline: none;
  cursor: text;
  font-size: 1.125rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  min-width: 8rem;
  border: none;
  color: var(--text1);
}

.tag-item {
  font-size: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 2rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: var(--bg-element2);
  color: var(--primary1);
  margin-right: 0.75rem;
  transition: all 0.125s ease-in 0s;
  cursor: pointer;
  margin-bottom: 0.75rem;
  animation: 0.125s ease-in-out 0s 1 normal forwards running lnHDaM;
}