.search-wrapper {
  margin: 3.5rem auto 0 auto;
  width: 768px;
}

.search-wrapper .search-form {
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem 0;
  padding: 0 1.5rem;
  height: 4rem;
  transition: all 0.125s ease-in 0s;
  border: 1px solid var(--border2);
  cursor: text; 
}

.search-form svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1.25rem 0 0;
  transition: all 0.125s ease-in 0s;
  flex-shrink: 0;
}

.search-form input {
  flex: 1 1 0%;
  padding: 0;
  min-width: 0px;
  height: 2rem;
  transition: all 0.125s ease-in 0s;
  border: none;
  outline: 0px;
  background: transparent;
  color: var(--text2);
  font-size: 1.5rem;
  line-height: 2rem;
}

.search-wrapper .result-info {
  margin-bottom: 4rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--text2);
}